*.o
*.mod
*.gcno
*.gcna
*.gcda
*.a
build/*
galahad/*
libRALFit/build*
libRALFit/debug/*
libRALFit/coverage/*
libRALFit/doc/Fortran/_build/*
libRALFit/doc/C/_build/*
libRALFit/doc/Python/_build/*
src/data/*
cutest/sif/*
libRALFit/doc/ral_nlls.aux
libRALFit/doc/ral_nlls.log
libRALFit/doc/ral_nlls.pdf
libRALFit/doc/ral_nlls.synctex.gz
libRALFit/doc/nlls_c.pdf
libRALFit/doc/nlls_c.synctex.gz
libRALFit/doc/nlls_fortran.pdf
libRALFit/doc/nlls_fortran.synctex.gz
libRALFit/doc/_build/*
libRALFit/doc/spec.aux
libRALFit/doc/spec.fdb_latexmk
libRALFit/test/comparison_tests/data/*
libRALFit/test/comparison_tests/AUTOMAT.d
libRALFit/test/comparison_tests/ELFUN.f
libRALFit/test/comparison_tests/GROUP.f
libRALFit/test/comparison_tests/OUTSDIF.d
libRALFit/test/comparison_tests/RAL_NLLS.SPC
libRALFit/test/comparison_tests/RANGE.f
*.out
/libRALFit/test/comparison_tests/cutest/sif/ELFUN.f
/libRALFit/test/comparison_tests/cutest/sif/GROUP.f
/libRALFit/test/comparison_tests/cutest/sif/RANGE.f
/libRALFit/test/comparison_tests/cutest/sif/OUTSDIF.d
/libRALFit/doc/*.log
/libRALFit/doc/*.aux
*.swp
*~
*#
*.fdb_latexmk
/doc/results
/doc/results2
/.vscode
