*.o
*.mod
*.gcno
*.gcna
*.gcda
*.a
galahad/*
libral_nlls/build/*
libral_nlls/build_cov/*
libral_nlls/debug/*
src/data/*
cutest/sif/*
libral_nlls/doc/ral_nlls.aux
libral_nlls/doc/ral_nlls.log
libral_nlls/doc/ral_nlls.pdf
libral_nlls/doc/ral_nlls.synctex.gz
libral_nlls/doc/spec.aux
libral_nlls/doc/spec.fdb_latexmk
libral_nlls/test/comparison_tests/data/*
*.png
*.out
/libral_nlls/test/comparison_tests/cutest/sif/ELFUN.f
/libral_nlls/test/comparison_tests/cutest/sif/GROUP.f
/libral_nlls/test/comparison_tests/cutest/sif/RANGE.f
/libral_nlls/test/comparison_tests/cutest/sif/OUTSDIF.d
/libral_nlls/doc/*.log
/libral_nlls/doc/*.aux
*.swp
*~
*#
