# Copyright (c) 2016, The Science and Technology Facilities Council (STFC)
# All rights reserved.
#
## requirements.txt ##
#

sphinx-fortran
six
sphinx-rtd-theme
# We seem to need v1.6.7 due to
# "cannot import name Directive"
# error
#Sphinx==1.6.7
